---
import "./styles.css";

const nav = [
  {
    name: "about",
    href: "#",
    subnav: [
      {
        name: "about us",
        href: "/about",
      },
      {
        name: "our students",
        href: "/about/diversity",
      },
      {
        name: "campus setting",
        href: "/about/campus-setting",
      },
      {
        name: "Board of Trustees",
        href: "/boardoftrustees",
      },
      {
        name: "staff",
        href: "/staff",
      },
      {
        name: "faculty",
        href: "/faculty",
      },
      {
        name: "community",
        href: "/highlights",
      },
      {
        name: "Test Center",
        href: "/services/testing",
      },
    ],
  },
  {
    name: "admission",
    href: "#",
    subnav: [
      {
        name: "our admission",
        href: "/admission",
      },
      {
        name: "international",
        href: "/international",
      },
      {
        name: "domestic",
        href: "/domestic",
      },
      {
        name: "military services",
        href: "/military",
      },
      {
        name: "transfer credits",
        href: "/files/uploads/documents/transfer%20credits/transfer-credits.pdf",
      },
      {
        name: "Application Forms",
        href: "/forms/admission",
      },
      {
        name: "Tuition & Policies",
        href: "/files/uploads/documents/tuition%20and%20policies/tuition%20and%20policies.pdf",
      },
    ],
  },
  {
    name: "academics",
    href: "#",
    subnav: [
      {
        name: "educational outcomes",
        href: "/academics/educational-outcomes/",
      },
      {
        name: "graduate",
        href: "/graduate",
      },
      {
        name: "undergraduate",
        href: "/undergraduate",
      },
      {
        name: "academic recognition",
        href: "/files/uploads/documents/academic%20recognition/academic%20recognition.pdf",
      },
      {
        name: "attendance policy",
        href: "/files/uploads/documents/attendance%20policy/attendance%20policy.pdf",
      },
      {
        name: "other policies",
        href: "/files/uploads/documents/other%20academic%20policies%20and%20procedures/Other%20academic%20policies%20and%20procedures.pdf",
      },
      {
        name: "Code of Conduct",
        href: "/files/uploads/documents/student%20code%20of%20conduct/Student%20Academic%20Code%20of%20Conduct.pdf",
      },
      {
        name: "ESOL",
        href: "/certificate/esol",
      },
      {
        name: "Certifications",
        href: "/certifications",
      },
      {
        name: "catalog",
        href: "/catalogs",
      },
      {
        name: "calendar",
        href: "/calendar",
      },
      {
        name: "Library",
        href: "/services/library",
      },
    ],
  },
  {
    name: "campus life",
    href: "#",
    subnav: [
      {
        name: "students",
        href: "/students",
      },
      {
        name: "Esports",
        href: "/services/esports",
      },
      {
        name: "student services",
        href: "/services",
      },
      {
        name: "Document Request",
        href: "/services/documents/",
      },
      {
        name: "Transcript Request",
        href: "https://www.parchment.com/u/registration/68151242/account",
      },
    ],
  },
  {
    name: "contact",
    href: "/contact",
  },
];
---

<header el="header">
  <div class="mobile-menu">
    <div class="menu-main-btn">menu</div>
    <ul class="menu-icon">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="mobile-submenu hide">
    <div class="mobile-submenu-scroll">
      <a href="#" style="padding: 40px 0;">
        <img
          src="/images/header_logo.svg"
          class="logo"
          alt="logo"
          onerror="detectedBrokenLink()"
        />
      </a>
      {
        nav.map((item) => (
          <div class="dropdown">
            <a href={item.href} class="main-btn">
              {item.name}
            </a>
            {item.subnav && (
              <div class="dropdown-menu hide">
                {item.subnav.map((link) => (
                  <a href={link.href}>{link.name}</a>
                ))}
              </div>
            )}
          </div>
        ))
      }
      <div class="dropdown">
        <a href="https://outlook.office.com/" class="main-btn lock">login</a>
      </div>
    </div>
  </div>
  <div class="close hide">close menu</div>
  <section>
    <a href="/">
      <img src="/images/header_logo.svg" class="logo" alt="logo" />
    </a>
    <nav>
      {
        nav.map((item) => (
          <div class="dropdown">
            <a href={item.href} class="main-btn">
              {item.name}
            </a>
            {item.subnav && (
              <div class="dropdown-menu hide">
                {item.subnav.map((link) => (
                  <a href={link.href}>{link.name}</a>
                ))}
              </div>
            )}
          </div>
        ))
      }
    </nav>
  </section>
</header>
<script is:inline>
  var mobileMenu = document.querySelector(".mobile-menu"),
    close = document.querySelector(".close"),
    mobileSubMenu = document.querySelector(".mobile-submenu");

  function openMobileMenu() {
    mobileSubMenu.classList.remove("hide");
    close.classList.remove("hide");
  }

  function closeMobileMenu() {
    mobileSubMenu.classList.add("hide");
    close.classList.add("hide");
  }

  mobileMenu.onclick = function () {
    openMobileMenu();
  };
  close.onclick = function () {
    closeMobileMenu();
  };
</script>
